.content {
  margin-top: 150px;
}

.title {
  font-weight: bold;
  margin-bottom: 30px;
}

.subtitle {
  text-align: center;
  color: #777;
  font-style: italic;
}

.centerText {
  text-align: center;
}

.icon {
  width: 30px;
}

.actionButton {
  margin-top: 30px;
  text-align: center;
}